.signup-section {
  background-color: #d3d7d8;
}

.card {
  border-radius: 17px;
}


.form-control:focus {
  box-shadow: 1 10 5px rgba(0, 0, 0, 0.3);
}

.form-check-input {
  width: 1.5vw;
  height: 3vh;
  border: 1px solid black;
}

.star {
  color: red;
}

.input-error {
  border: 1px solid red;
}

.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-70%);
  cursor: pointer;
  bottom: -5px;
}

.password-icon svg {
  width: 20px;
  height: 20px;
}
.gap-3 {
  gap: 1rem!important;
}
.d-flex {
  display: flex!important;
}

.phone-number-field .react-tel-input {
  width: 22%;
}

.phone-number-field-container {
  display: flex;
}

.phone-number-field .react-tel-input .form-control {
  height: 38px;
  border-radius: 0;
}

.phone-number-field-container .form-control {
  border-radius: 0 3px 3px 0;
}