.logo-img{
    margin-top: 5px;
}
#menu_icon_navbar{
    font-size: 33px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 10px;
}
/* #nav-container-fluid{
    line-height: 45px;
} */
.username_navbar{
    margin-top: 5px;
    font-weight: 500;
    font-size: 17px;
}
.profile-img{
    width: 46px;
    border: none;
    border-radius: 25px;
}
#bell-nav{
    cursor: pointer;
}
#ul-navbar{
    list-style-type: none;
    display:flex;
    justify-content:end;
    gap: 1.2rem;  
}
#navbarDropdown{
    margin-top: 0px;
    font-size: 15px;
    padding: 0;
  }
.logout-navbar{
    margin: 0;
    color: black;
    border-radius: 3px;
}
#drop-menu{
    color: black;
}
.bell_icon_navbar{
    margin-top: 4px;
    font-size: 20px;
} 
.userclr{
    color: black;
    margin-left: -5px;
  }
  #dropdown-logout{
    padding: 5px 0px;
  }
 
@media screen and (max-width: 480px) {
    .logo-img{
        width: 130px;
        height: 50px;
    }
    .logout-navbar{
        padding: 8px 4px;
        font-size: 12px;
    }
    .profile-img{
        width: 43px;
        border: none;
        border-radius: 25px;
    }
    #ul-navbar{
        display:flex;
        justify-content:center;
        padding: 0;
    }
    .row{
        margin: 0;
    }
    .bell_icon_navbar{
        margin-top: 7px;
    }
    .username_navbar{
        margin:5px;
        font-weight: 500;
        font-size: 13px;
    }
  }

 