.vendors-section .btn-export {
    margin-right: 10px;
}

.addlist-table .switch-align {
    display: flex;
    justify-content: center;
}

.location-table .editicon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.location-table .editicon svg {
    cursor: pointer;
}

.department-main {
    padding: 15px;
}

.main-padding-department {
    padding: 15px;
}

.department-action {
    color: #0d6efd;
    display: flex;
    gap: 15px;
    align-items: center;
}

.department-action i {
    cursor: pointer;
}

.react-datepicker-wrapper {
    width: 100%;
}

.assign-asset-table {
    vertical-align: middle;
}

.assign-asset-table td img {
    width: 50px;
}